.fix{
  width:100%;
  margin:0;
}

.scroll_box{
  height:150px;
  width:auto;
  overflow:auto;
  scrollbar-base-color:gold;
  padding:10px;

  margin-bottom:10px;
}

.scroll_box label{
  text-decoration: none;
  margin-left:5px;
}

.scroll_box::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-track {
background: lightgrey;
}

::-webkit-scrollbar-thumb {
background: grey;
}

.box{
  height:3em;
  padding:0;
}

.price{

  padding-left:.5em;
}

.smaller img{
    max-width: 60%;
}

.mini_pics{
  margin-right:20px;
  margin-top:10px;
}

.footer_things{
    padding-top: 50px;
    padding-bottom:50px;
  }
