#logo h1{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

#search button{
  padding:.8em;
  width:7em;
  background-color: #3B3B3B;
  color:white;
  border: 0px;
  margin-left: -2px;
  margin-top: 1em;
}

#search input{
  width:20em;
  margin:0 -2px 0 0;
  height:3em;
  border: solid 1px black;
  padding:5px;
}

#page_break{
  border-bottom: solid 2.5px lightgrey;
  padding-bottom:30px;
  margin-bottom: 20px;
}

#left_side_bar b{
  font-size: 20px;
}

#large_big_pic{
  border-right:solid 1px lightgrey;
}

#big_pic{
  display: none;
}

#mobile_add_basket{
  display: none;
}

#mobile_style_with{
  display: none;
}

#menu{
  text-align: center;
}

#search input{
  width:60%;
}


  #menu{
    text-align: center;
  }

  #logo{
    text-align: center;
  }

  #refine_boxes{
    display: block;
  }

  #filter_btn{
    display: none;
  }
