@media (max-width:1215px) {
  #search input{
    width:85%;
  }

  #search button{
    width:15%;
  }

  #page_break{
    text-align: center;
  }

  .footer_things{
      text-align: center;
  }

  #test{
    background-color: green;
  }

  #refine_boxes{
    display:none;
  }

  #filter_btn{
    width:100%;
    padding:.8em;
    background-color: #3B3B3B;
    color:white;
    border: 0px;
    display: block;

  }

  .footer_things{
    padding-top: 50px;
  }
}




@media (max-device-width:900px) {
  #refine_boxes{
    display:none;
  }
  #logo{
    text-align: center;
  }
  #logo a{
    font-size: 60px;
  }

  #menu{
    display: none;
  }

  #search input{
    width:85%;
  }

  #search button{
    width:15%;
  }

  #page_break{
    font-size: 20px;
    text-align: center;
  }

  #right_side_bar{
        display: none;
  }

  .mini_pics img{
  display: none;
  }

  .thumbnail{
    display: none;
  }

  #big_pic{
    display: block;
  }
  #large_big_pic{
    display: none;
  }

  #description{
    margin-top: 20px;
    font-size: 25px;
  }

  #product_details{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  #mobile_add_basket{
    display: block;
    text-align: center;
    font-size: 20px;
  }

  #mobile_add_basket select{
    width:70%;
  }


  #mobile_add_basket button{
    margin-top: 20px;
    margin-bottom:10px;
    width: 100%;
font-size:20px;
padding:20px;
  }

  #mobile_style_with{
    display: block;
    font-size: 20px;
  }

.mobile_style_with_img{
    margin-top: 30px
  }

  #mobile_style_with img{
    max-width: 70%;
    max-height: 70%;
  }

  #mobile_style_with button{
    width: 80%;
    font-size: 20px;
  }

  #prize{
    font-size: 20px;
margin-top:30px;
margin-bottom:30px;
  }

  #prize button{
    font-size: 20px;
    width:40%;
    font-weight: bold;
  }

  .footer_things{
    display: none;
  }

  #filter_btn{
    padding:20px;
    font-size: 20px;
  }

  #index_product_list{
      font-size: 150%;
  }

  #index_product_list hr{
    display: none;
  }

  #index_product{
    border-bottom:2px solid lightgrey;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  #footer_things{
    display: none;
  }

  #path{
    display: none;
  }
}
