.fix {
  width: 100%;
  margin: 0; }

.scroll_box {
  height: 150px;
  width: auto;
  overflow: auto;
  scrollbar-base-color: gold;
  padding: 10px;
  margin-bottom: 10px; }

.scroll_box label {
  text-decoration: none;
  margin-left: 5px; }

.scroll_box::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background: lightgrey; }

::-webkit-scrollbar-thumb {
  background: grey; }

.box {
  height: 3em;
  padding: 0; }

.price {
  padding-left: .5em; }

.smaller img {
  max-width: 60%; }

.mini_pics {
  margin-right: 20px;
  margin-top: 10px; }

.footer_things {
  padding-top: 50px;
  padding-bottom: 50px; }

#logo h1 {
  font-size: 3em;
  font-family: 'Roboto', sans-serif; }

#search button {
  padding: .8em;
  width: 7em;
  background-color: #3B3B3B;
  color: white;
  border: 0px;
  margin-left: -2px;
  margin-top: 1em; }

#search input {
  width: 20em;
  margin: 0 -2px 0 0;
  height: 3em;
  border: solid 1px black;
  padding: 5px; }

#page_break {
  border-bottom: solid 2.5px lightgrey;
  padding-bottom: 30px;
  margin-bottom: 20px; }

#left_side_bar b {
  font-size: 20px; }

#large_big_pic {
  border-right: solid 1px lightgrey; }

#big_pic {
  display: none; }

#mobile_add_basket {
  display: none; }

#mobile_style_with {
  display: none; }

#menu {
  text-align: center; }

#search input {
  width: 60%; }

#menu {
  text-align: center; }

#logo {
  text-align: center; }

#refine_boxes {
  display: block; }

#filter_btn {
  display: none; }

@media (max-width: 1215px) {
  #search input {
    width: 85%; }

  #search button {
    width: 15%; }

  #page_break {
    text-align: center; }

  .footer_things {
    text-align: center; }

  #test {
    background-color: green; }

  #refine_boxes {
    display: none; }

  #filter_btn {
    width: 100%;
    padding: .8em;
    background-color: #3B3B3B;
    color: white;
    border: 0px;
    display: block; }

  .footer_things {
    padding-top: 50px; } }
@media (max-device-width: 900px) {
  #refine_boxes {
    display: none; }

  #logo {
    text-align: center; }

  #logo a {
    font-size: 60px; }

  #menu {
    display: none; }

  #search input {
    width: 85%; }

  #search button {
    width: 15%; }

  #page_break {
    font-size: 20px;
    text-align: center; }

  #right_side_bar {
    display: none; }

  .mini_pics img {
    display: none; }

  .thumbnail {
    display: none; }

  #big_pic {
    display: block; }

  #large_big_pic {
    display: none; }

  #description {
    margin-top: 20px;
    font-size: 25px; }

  #product_details {
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px; }

  #mobile_add_basket {
    display: block;
    text-align: center;
    font-size: 20px; }

  #mobile_add_basket select {
    width: 70%; }

  #mobile_add_basket button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
    padding: 20px; }

  #mobile_style_with {
    display: block;
    font-size: 20px; }

  .mobile_style_with_img {
    margin-top: 30px; }

  #mobile_style_with img {
    max-width: 70%;
    max-height: 70%; }

  #mobile_style_with button {
    width: 80%;
    font-size: 20px; }

  #prize {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px; }

  #prize button {
    font-size: 20px;
    width: 40%;
    font-weight: bold; }

  .footer_things {
    display: none; }

  #filter_btn {
    padding: 20px;
    font-size: 20px; }

  #index_product_list {
    font-size: 150%; }

  #index_product_list hr {
    display: none; }

  #index_product {
    border-bottom: 2px solid lightgrey;
    margin-bottom: 30px;
    padding-bottom: 20px; }

  #footer_things {
    display: none; }

  #path {
    display: none; } }
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: black; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

a:active {
  text-decoration: none;
  color: black; }

a:visited {
  text-decoration: none;
  color: black;
  underline: none; }

ul {
  margin-top: 2em; }

li {
  list-style-type: none;
  display: inline;
  margin: 0 1em 0 0; }

hr {
  margin: 10px 0 10px 0; }

select {
  width: 200px;
  padding: 10px; }

img {
  max-width: 100%; }

footer {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 40px; }

/*# sourceMappingURL=master.css.map */
