@import 'class';
@import 'id';
@import 'responsive';

*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color:black;
}

a{
  text-decoration: none;
  color:black;
}
a:hover{
  text-decoration: none;
  color:black;
}

a:active{
 text-decoration: none;
  color:black;
}

a:visited{
 text-decoration: none;
  color:black;
underline:none;
}

ul{
  margin-top: 2em;
}

li{
 list-style-type: none;
 display: inline;
 margin: 0 1em 0 0;
}

hr{
  margin:10px 0 10px 0;
}

select{
  width:200px;
  padding:10px;
}

img{
  max-width: 100%;

}

footer{
  width: 100%;
  height:100px;
  margin-top: 50px;
  background-color:#333333;
  color: white;
  text-align: center;
  padding:40px;
}
